/* Use web-safe colors */
/* Icons from https://icons.getbootstrap.com */
/* Accessibility colors: https://webaim.org/resources/contrastchecker/ */

/* Admonition customisation 
   - example
   - quote
   - understanding
   - reference
*/

.md-typeset .admonition,
.md-typeset details {
    font-size: 16pt;
} 
.md-typeset code,
.highlighttable .linenos {
    font-size: 11pt;
}

/* example admonition */
:root {
  --md-admonition-icon--example: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-code" viewBox="0 0 16 16"><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/><path d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708m-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708"/></svg>')
}
.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: rgba(100,100, 200, 0.5);
  font-size: 12pt;
}
.md-typeset .example> .admonition-title,
.md-typeset .example > summary {
  background-color: rgba(51,102, 204, 0.3);
  font-size: 12pt;
}
.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before { 
  background-color: rgb(100,100, 200);
  -webkit-mask-image: var(--md-admonition-icon--example);
          mask-image: var(--md-admonition-icon--example);
}

/* Quote admonition */
:root {
  --md-admonition-icon--quote: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/><path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/></svg>')
}

.md-typeset .admonition.quote,
.md-typeset details.quote {
  border-color: rgba(0, 153, 102, 0.5);
  font-size: 12pt;
}
.md-typeset .quote> .admonition-title,
.md-typeset .quote > summary {
  background-color: rgba(0, 153, 102, 0.3);
  font-size: 12pt;
}
.md-typeset .quote > .admonition-title::before,
.md-typeset .quote > summary::before { 
  background-color: rgb(10, 153, 102);
  -webkit-mask-image: var(--md-admonition-icon--quote);
          mask-image: var(--md-admonition-icon--quote);
}

/* Understanding admonition */

:root {
  --md-admonition-icon--understanding: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16"><path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.7 1.7 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745"/><path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/><path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0"/></svg>')
}

.md-typeset .admonition.understanding,
.md-typeset details.understanding {
  border-color: rgba(255, 195, 0, 0.5);
  font-size: 12pt;
}
.md-typeset .understanding> .admonition-title,
.md-typeset .understanding > summary {
  background-color: rgba(255, 195, 0, 0.4);
  font-size: 12pt;
}
.md-typeset .understanding > .admonition-title::before,
.md-typeset .understanding > summary::before { 
  background-color: rgb(232, 128, 0);
  -webkit-mask-image: var(--md-admonition-icon--understanding);
          mask-image: var(--md-admonition-icon--understanding);
}

/* Reference admonition */

:root {
  --md-admonition-icon--reference: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16"><path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/></svg>')
}

.md-typeset .admonition.reference,
.md-typeset details.reference {
  border-color: rgba(204, 102, 102, 0.7);
  font-size: 12pt;
}
.md-typeset .reference> .admonition-title,
.md-typeset .reference > summary {
  background-color: rgba(160, 80, 80, 0.3);
  font-size: 12pt;
}
.md-typeset .reference > .admonition-title::before,
.md-typeset .reference > summary::before { 
  background-color: rgb(180, 51, 51);
  -webkit-mask-image: var(--md-admonition-icon--reference);
          mask-image: var(--md-admonition-icon--reference);
}


/* Table */

.md-typeset table:not([class]) {
    font-size:11pt;
}
.md-typeset table:not([class]) code {
    font-size:10pt;
    white-space: nowrap;
}
.md-typeset table:not([class]) thead {
    background-color: rgb(150, 150, 200, 0.1);
}

/* Section headers */

.md-nav__item--section > .md-nav__link[for]  {
    --custom-section-color: rgba(70,120,160,0.9); 
    font-weight: 700;
    font-size: 14pt;
    color: var(--custom-section-color);
    border-bottom-width: 1px;
    border-bottom-style: solid; 
    border-bottom-color: var(--custom-section-color);
    /* border-bottom-color: var(--md-default-fg-color); */
}
